::selection {
  background: rgba($white, 0.7);
  color: $black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $brand-color;
  font: {
    family: $font-family-base;
    size: $font-size-base;
    weight: $regular;
  }
  color: $white;
  line-height: $font-line-height-base;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
