$font-family-base: "PlayfairDisplay", Arial, sans-serif;

$font-size-base: 16px;

$font-line-height-base: 1;

$medium: 500;
$semibold: 600;
$extra-bold: 800;

$white: #ffffff;
$black: #000000;
$black-light: #040404;
