.header {
  padding: 85px 0;
}

.header__inner {
  @include inner();
}

.header__logo {
  font-size: 24px;
  font-weight: $extra-bold;
}

.header__menu {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.header__menu-link {
  font-size: 20px;
  font-weight: $medium;
  color: $white;
}
