.questions {
  margin-bottom: 280px;
  transition: opacity ease-out 0.35s;

  &:hover .question {
    opacity: 0.4;
  }

  .question:hover {
    opacity: 1;
  }
}

.questions__inner {
  @include inner;
}

@include screen-md {
  .questions {
    margin-bottom: 220px;
  }
}

@include screen-sm {
  .questions {
    margin-bottom: 190px;
  }
}

@include tablet-lg {
  .questions {
    margin-bottom: 140px;
  }
}

@include tablet-sm {
  .questions__inner {
    padding: 0;
  }

  .questions {
    margin-bottom: 90px;
  }
}
