.question {
  width: 100%;
  border-top: 1px solid $white;
  padding: 40px 100px 45px;
  transition: opacity ease-out 0.35s;

  &:last-child {
    border-bottom: 1px solid $white;
  }
}

.question__title {
  font-size: 28px;
  font-weight: $semibold;
  letter-spacing: 0.03em;
  line-height: 1.32;
  margin-bottom: 20px;
  position: relative;
}

.question__text {
  font-size: 18px;
  font-weight: $medium;
  color: $gray;
  letter-spacing: 0.03em;
  line-height: 1.39;
  width: 70%;
  margin-left: auto;
}

.question__number {
  position: absolute;
  left: 0;
  bottom: -24px;
  font-size: 22px;
  font-weight: $semibold;
}

@include screen-sm {
  .question__text {
    width: 83%;
  }

  .question {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@include tablet-lg {
  .question {
    padding: 25px 35px;
  }

  .question__title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .question__number {
    font-size: 16px;
    bottom: -18px;
  }

  .question__text {
    font-size: 14px;
  }
}

@include tablet-md {
  .question__text {
    font-size: 12px;
  }

  .question__title {
    font-size: 16px;
  }
}

@include tablet-sm {
  .question {
    padding: 20px;
  }

  .question__title {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .question__text {
    width: 87%;
  }
}
